* {
    background-color: darkslategrey;
    color: violet;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header p {
    color: white;
}

/* .mainContainer {
    
} */

.container {
    display: inline-flex;
    border: 2px dashed white;
    width: 30%;
    height: 300px;
    padding: 5px;
    margin: 5px;
}

.card h1 {
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.card {
    width: 100%;
}

