* {
    background-color: darkslategrey;
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header p {
    color: white;
}


.container {
    display: inline-flex;
    border: 2px dashed white;
    width: 30%;
    height: 400px;
    padding: 5px;
    margin: 20px;
    
}

.card h1 {
    border: 2px solid white;
    border-radius: 10px;
    width: 90%;
    justify-content: center;
    margin: 10px;
    position: relative;
    top: -30px;
    margin: auto;
    
}

.card {
    width: 100%;
}

pre {
    color: white;
    background-color: violet;
    height: 250px;
    border-radius: 15px;
    padding-top: 20px;

}

.container:hover,
.card h1:hover {
    box-shadow: rgba(238, 130, 238, 0.25) 0px 54px 55px, rgba(238, 130, 238, 0.25) 0px -12px 30px, rgba(238, 130, 238, 0.25) 0px 4px 6px, rgba(238, 130, 238, 0.25) 0px 12px 13px, rgba(238, 130, 238, 0.25) 0px -3px 5px;
}

footer {
    text-align: center;
    font-size: 25px;
}